<app-menu></app-menu>

<div class="container  text-center mt-5 ">
  <span class="" id="video"></span>
  </div>

<div *ngIf="producto">
  <div class="container my-4 py-4 px-md-3">
    <div class="card shadow">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Nombre: </b>{{producto.nombre}}</li>
        <li class="list-group-item"><b>Origen: </b>{{producto.origen}}</li>
        <li class="list-group-item"><b>Año: </b>{{producto.age}}</li>
      </ul>
      
      <div class="card-footer bg-white">
        <a class="linkmin btn btn-block" routerLink="/lista"> Volver </a>
      </div>
    </div>

  </div>
</div>



