<app-menu></app-menu>

<div class="container  text-center mt-5 ">
  <span class="" id=""></span>
  </div>

  <div *ngIf="cargando==true" class="text-center my-5"> 
    <div class="spinner-border" role="status"></div> 
 </div>

<div *ngIf="producto">
  <div class="container my-4 py-4 px-md-3">
    <div class="card shadow">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Name: </b>{{producto.name}}</li>
        <li class="list-group-item"><b>Price: </b>{{producto.price}}</li>
      </ul>
      
      <div class="card-footer bg-white">
        <a class="linkmin btn btn-block" routerLink="/lista"> Volver </a>
      </div>
    </div>

  </div>
</div>



