<app-menu></app-menu>

<div class="container  text-center mt-5 ">
  <span class="" id="video"></span>
  </div>

<div *ngIf="producto">
  <div class="container my-4 py-4 px-md-3">
    <div class="card shadow">
      <ul class="list-group list-group-flush">
        <!-- <li class="list-group-item"><b>ID: </b>{{producto.id}}</li> -->
        <li class="list-group-item"><b>Nombre: </b>{{producto.nombre}}</li>
        <li class="list-group-item"><b>Origen: </b>{{producto.origen}}</li>
        <!-- <li class="list-group-item"><b>Ticker-enlace: </b>{{producto.ticker}}</li> -->
        <li class="list-group-item"><b>Año: </b>{{producto.age}}</li>
        <!-- <li class="list-group-item text-center mx-0 px-0"> </li> -->
      </ul>
      
      <div class="card-footer bg-white">
        <!-- <button class="btn btn-outline-dark btn-block" (click)="volver()"><i class="fas fa-arrow-alt-circle-left"></i> Volver</button> -->
        <a class="linkmin btn btn-block" routerLink="/lista"> Volver </a>
      </div>
    </div>

  </div>
</div>



