<app-menu></app-menu>

    <div *ngIf="cargandoeditar==true" class="text-center my-5"> 
        <div class="spinner-border" role="status"></div> 
     </div>
     
<div *ngIf="producto">



    <div class="container col-lg-4 mt-5 bg-white border rounded my-5 py-4 px-3 shadow">
        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
            <div class="form-group">
                <label for="nombre">Name</label>
                <input type="text" class="form-control" id="name" name="name" [(ngModel)]="producto.name"
                    required>
            </div>

            <div class="form-group">
                <label for="price">Price</label>
                <input type="number" class="form-control" id="price" name="price" [(ngModel)]="producto.price" required>
            </div>
 
            <button class="btn boton btn-block" [disabled]="!f.valid">
                <i class="fas fa-pencil-alt"></i> Actualizar</button>
            <a class="linkmin btn btn-block" routerLink="/lista"> Volver </a>
        </form>
    </div>

    <div class="my-3">
        <br>
    </div>


</div>