<app-menu></app-menu>

<div class="mb-5">
  <br>
</div>

<div class="container">

  <div class="container">
    <span class="h1 font-weight-bold"> Selección de bandas de Rock </span>
  </div>

  <div class="form-group mt-5">
    <input type="text" class="form-control" name="filterPost" placeholder="Buscar..." [(ngModel)]="filterPost">
  </div>

  <div class="mt-5 table-responsive">
    <table class="table table-striped table-hover border">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Origen</th>
          <th scope="col">Año</th>
          <th scope="col">Ver</th>
          <th scope="col">Añadir a favoritas</th> <!-- *ngIf="isAdmin" -->

          <th scope="col">Editar</th> <!-- Si isAdmin es true, saldrán estos dos botones -->
          <!-- *ngIf="isAdmin" -->

          <th scope="col">Borrar</th>
          <!-- *ngIf="isAdmin" -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of productos | filter:filterPost">
          <td class="align-middle">{{producto.nombre}} </td>
          <td class="align-middle">{{producto.origen}} </td>
          <td class="align-middle"> {{producto.age}}</td>
          <td class="align-middle"><button class="btn btn-outline-dark" routerLink="/detalle/{{producto.id}}"><i
                class="far fa-eye"></i> <!-- Ver --> </button></td>


          <!-- Antes tenía puesto un *ngIf="isAdmin", lo quito en favoritas, editar y borrar para permitir que el usuario pueda hacerlo -->
          <td class="align-middle"><button class="btn boton shadow"
              (click)="Addcartera(producto.nombre, producto.origen, producto.ticker, producto.age)"><i
                class="fas fa-plus"></i>
              <!--Añadir cartera-->
            </button></td>
          <td class="align-middle"><button class="btn btn-outline-dark" routerLink="/editar/{{producto.id}}"><i
                class="far fa-edit"></i> </button></td>
          <td class="align-middle"><button class="btn btn-danger" (click)="borrar(producto.id)"><i
                class="far fa-trash-alt"></i> </button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <!--                                 Favoritas                                    -->
  <div class="my-2">
    <br>
  </div>

  <div class="mt-5" *ngIf="!isAdmin">
    <span class="h1 font-weight-bold"> Favoritas </span>
  </div>
  <div class="mt-5 table-responsive" *ngIf="!isAdmin">
    <!-- Para tener cartera, tiene que ser usuario -->
    <table class="container table table-striped table-hover border">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Origen</th>
          <th scope="col">Año</th>
          <th scope="col">Ver</th>


          <th scope="col" *ngIf="isAdmin">Editar</th> <!-- Si isAdmin es true, saldrán estos dos botones -->
          <th scope="col">Quitar de favoritas</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let productoCartera of productosCartera">
          <td class="align-middle">{{productoCartera.nombre}} </td>
          <td class="align-middle">{{productoCartera.origen}} </td>
          <td class="align-middle">{{productoCartera.age}}</td>
          <td class="align-middle"><button class="btn btn-outline-dark" routerLink="/detalle/{{productoCartera.id}}"><i
                class="far fa-eye"></i> <!-- Ver --> </button></td>

          <!-- *ngIf="isAdmin" -->


          <td *ngIf="isAdmin" class="align-middle"><button class="btn btn-outline-dark"
              routerLink="/editar/{{productoCartera.id}}"><i class="far fa-edit"></i></button></td>
          <td class="align-middle"><button class="btn btn-danger" (click)="borrar(productoCartera.id)"><i
                class="far fa-trash-alt"></i> <!-- Eliminar --> </button></td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="my-3">
    <!-- quito el *ngIf="isAdmin" para que el usuario pueda crear bandas -->
    <button class="btn boton shadow btn-lg" routerLink="/nuevo">
      <i class="fas fa-plus-circle"></i> Nuevo Producto</button>
  </div>

  <div class="mb-5">
    <br>
  </div>


</div>