<app-menu></app-menu>

<div class=" py-5">
    <div class="col-lg-4 container bg-white border rounded my-5 py-4 px-3 shadow">
        <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required>
            </div>
            <div class="form-group">
                <label for="origen">Origen</label>
                <input type="text" class="form-control" id="origen" name="origen" [(ngModel)]="origen" required>
            </div>
            <div class="form-group">
                <label for="age">Año</label>
                <input type="number" class="form-control" id="age" name="age" [(ngModel)]="age" required>
            </div>            
            <div class="form-group">
                <label for="ticker">
                    ID de Youtube 
                    <i class="fas fa-info-circle" data-toggle="popover" title="Ayuda"
                    data-content="El ID del vídeo de Youtube es un código que se encuentra al final de la URL del vídeo, después del signo igual"></i>
             
                </label>
                <input type="text" class="form-control" id="ticker" name="ticker" [(ngModel)]="ticker" required>
            </div>

            <button class="btn boton btn-block" [disabled]="!f.valid">
                <i class="fas fa-plus-circle"></i> Crear</button>
            <a class="linkmin btn btn-block" routerLink="/lista"> Volver </a>
        </form>
    </div>
</div>
